In [1]:
import pandas as pd

#Creating Pandas Series

In [21]:
# A pandas series 
pd.Series( [ 12, 13, 1, 3, 5 ] )

0    12
1    13
2     1
3     3
4     5
dtype: int64

In [22]:
# A pandas series with explicit indexing 
pd.Series( [ 2,  4,  6],  index = [ 'ad',  'bd',  'cd' ] )

ad    2
bd    4
cd    6
dtype: int64

#Creating Pandas Dataframe

In [35]:
# A pandas dataframe 
df = pd.DataFrame({'name': ['Akash', 'Shivam', 'Neil', 'Manish'], 
              'age': [21, 23, 24, 28],'occupation': ['data scientist',  'doctor',  'data analyst', 'engineer']})

In [36]:
df

     name  age      occupation
0   Akash   21  data scientist
1  Shivam   23          doctor
2    Neil   24    data analyst
3  Manish   28        engineer

In [2]:
# Create team data
data_england = {'Name': ['Kane', 'Sterling', 'Saka', 'Maguire'], 'Age': [27, 26, 19, 28]}
data_italy = {'Name': ['Immobile', 'Insigne', 'Chiellini', 'Chiesa'], 'Age': [31, 30, 36, 23]}

In [4]:
# Create Dataframe
df_england = pd.DataFrame(data_england)
df_italy = pd.DataFrame(data_italy)

In [6]:
df_italy

        Name  Age
0   Immobile   31
1    Insigne   30
2  Chiellini   36
3     Chiesa   23

In [5]:
df_england

       Name  Age
0      Kane   27
1  Sterling   26
2      Saka   19
3   Maguire   28

#Inspection of Dataframe

In [38]:
#Checking the shape of a dataframe
df.shape

(4, 3)

In [37]:
df.head()

     name  age      occupation
0   Akash   21  data scientist
1  Shivam   23          doctor
2    Neil   24    data analyst
3  Manish   28        engineer

In [39]:
df.head(2)

     name  age      occupation
0   Akash   21  data scientist
1  Shivam   23          doctor

In [41]:
df.tail()

     name  age      occupation
0   Akash   21  data scientist
1  Shivam   23          doctor
2    Neil   24    data analyst
3  Manish   28        engineer

In [40]:
df.tail(2)

     name  age    occupation
2    Neil   24  data analyst
3  Manish   28      engineer

In [42]:
# metadata summary 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   age         4 non-null      int64
 2   occupation  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [43]:
# statistical summary 
df.describe()

            age
count   4.00000
mean   24.00000
std     2.94392
min    21.00000
25%    22.50000
50%    23.50000
75%    25.00000
max    28.00000

In [44]:
# statistical summary 
df.describe().T

     count  mean      std   min   25%   50%   75%   max
age    4.0  24.0  2.94392  21.0  22.5  23.5  25.0  28.0

In [45]:
#Returns the memory consumed by columns 
df.memory_usage()

Index         128
name           32
age            32
occupation     32
dtype: int64

In [46]:
#Returns the columns of the data frame as a array
df.columns

Index(['name', 'age', 'occupation'], dtype='object')

In [48]:
#Returns the values as an array 
df.values

array([['Akash', 21, 'data scientist'],
       ['Shivam', 23, 'doctor'],
       ['Neil', 24, 'data analyst'],
       ['Manish', 28, 'engineer']], dtype=object)

#Extracting columns in Pandas:

In [50]:
df1 = pd.DataFrame( {
    'Name' : ['Neil', 'Aishwarya', 'Rahul', 'Shivani','Namrata','Pawan', 'Karan','Krish'],
    'Age' : [23, 21, 22, 21, 20, 22, 22, 23],
    'University' : ['BHU', 'JNU', 'DU', 'BHU', 'IIT', 'MU', 'JNU', 'MU'],
    'Specialization' : ['Mathematics' , 'Biology', 'Physics' , 'Chemistry', 'Accountancy', 'Mathematics', 'Bio-Chemistry', 'Astrophysics'] })

In [51]:
# Extract a specific column as a series
df1[ 'Name' ]

0         Neil
1    Aishwarya
2        Rahul
3      Shivani
4      Namrata
5        Pawan
6        Karan
7        Krish
Name: Name, dtype: object

In [52]:
df1.Name

0         Neil
1    Aishwarya
2        Rahul
3      Shivani
4      Namrata
5        Pawan
6        Karan
7        Krish
Name: Name, dtype: object

In [53]:
#Extracting multiple columns at a time 
df1[ [ 'Name',  'Age',  'University' ] ]

        Name  Age University
0       Neil   23        BHU
1  Aishwarya   21        JNU
2      Rahul   22         DU
3    Shivani   21        BHU
4    Namrata   20        IIT
5      Pawan   22         MU
6      Karan   22        JNU
7      Krish   23         MU

#Index-based slicing

In [57]:
# Extracting a particular column and row from dataframe. dataframe.iloc[m,n] where m is row index and n is column index 
df1.iloc[3, 2]   # single element 4throw and 6th column

'BHU'

In [59]:
#Extracting a specific row with all columns 
df.iloc[2, :] # single row and all columns

name                  Neil
age                     24
occupation    data analyst
Name: 2, dtype: object

In [60]:
#Extracting multiple rows at a time by providing list of indices
df1.iloc[ [0, 2] ]

    Name  Age University Specialization
0   Neil   23        BHU    Mathematics
2  Rahul   22         DU        Physics

In [61]:
df1.iloc[ [0, 2] , : ]

    Name  Age University Specialization
0   Neil   23        BHU    Mathematics
2  Rahul   22         DU        Physics

In [62]:
df1.iloc[ [0, 2] ,  ]

    Name  Age University Specialization
0   Neil   23        BHU    Mathematics
2  Rahul   22         DU        Physics

In [64]:
#Extracting particular range of rows
df1.iloc[0 : 3]

        Name  Age University Specialization
0       Neil   23        BHU    Mathematics
1  Aishwarya   21        JNU        Biology
2      Rahul   22         DU        Physics

In [65]:
df.iloc[0 : 3 ,  : ]

     name  age      occupation
0   Akash   21  data scientist
1  Shivam   23          doctor
2    Neil   24    data analyst

In [66]:
df.iloc[0 : 3 , ]

     name  age      occupation
0   Akash   21  data scientist
1  Shivam   23          doctor
2    Neil   24    data analyst

In [67]:
#Extracting  a particular column by index number
df1.iloc[ : ,  2 ]

0    BHU
1    JNU
2     DU
3    BHU
4    IIT
5     MU
6    JNU
7     MU
Name: University, dtype: object

In [68]:
#Extracting particular range of columns
df1.iloc[ : , 1 : 3 ]

   Age University
0   23        BHU
1   21        JNU
2   22         DU
3   21        BHU
4   20        IIT
5   22         MU
6   22        JNU
7   23         MU

In [69]:
#Extracting rows and columns of a particular range
df1.iloc[ 0 : 3 , 1 : 3 ]

   Age University
0   23        BHU
1   21        JNU
2   22         DU

#Label based slicing

In [70]:
#Extracting rows and columns based on column or row labels
df1.loc[2, 'Age'] # single element row label 2 and column sales

22

In [71]:
df1.loc[5] # single row with label 5

Name                    Pawan
Age                        22
University                 MU
Specialization    Mathematics
Name: 5, dtype: object

In [72]:
df1.loc[5, :] # single row with label 5 and all columns

Name                    Pawan
Age                        22
University                 MU
Specialization    Mathematics
Name: 5, dtype: object

In [73]:
#Extracting multiple rows provided the list of labels
df1.loc[ [0, 2, 4] ] # rows with label 0, 2, 4

      Name  Age University Specialization
0     Neil   23        BHU    Mathematics
2    Rahul   22         DU        Physics
4  Namrata   20        IIT    Accountancy

In [74]:
# Extracting multiple rows with label 1, 3, 5 and all columns
df1.loc[ [0, 2, 4],  : ]

      Name  Age University Specialization
0     Neil   23        BHU    Mathematics
2    Rahul   22         DU        Physics
4  Namrata   20        IIT    Accountancy

In [75]:
#Extracting the rows of a particular range of labels
df1.loc[ 2 : 8 ] # multiple rows using a range of labels

      Name  Age University Specialization
2    Rahul   22         DU        Physics
3  Shivani   21        BHU      Chemistry
4  Namrata   20        IIT    Accountancy
5    Pawan   22         MU    Mathematics
6    Karan   22        JNU  Bio-Chemistry
7    Krish   23         MU   Astrophysics

In [76]:
df1.loc[ 2 : 8 ,  ]

      Name  Age University Specialization
2    Rahul   22         DU        Physics
3  Shivani   21        BHU      Chemistry
4  Namrata   20        IIT    Accountancy
5    Pawan   22         MU    Mathematics
6    Karan   22        JNU  Bio-Chemistry
7    Krish   23         MU   Astrophysics

In [77]:
# multiple rows using a range of labels and all columns
df1.loc[ 2 : 8 ,  : ]

      Name  Age University Specialization
2    Rahul   22         DU        Physics
3  Shivani   21        BHU      Chemistry
4  Namrata   20        IIT    Accountancy
5    Pawan   22         MU    Mathematics
6    Karan   22        JNU  Bio-Chemistry
7    Krish   23         MU   Astrophysics

In [78]:
# Extracting multiple rows using labels and columns
df1.loc[ [1,  2] ,  'Name' : 'University']

        Name  Age University
1  Aishwarya   21        JNU
2      Rahul   22         DU

#Condition-based slicing

In [80]:
#Extracting all the values in column whose value is greater than 22
df1.loc[ df1.Age>  22]

    Name  Age University Specialization
0   Neil   23        BHU    Mathematics
7  Krish   23         MU   Astrophysics

In [81]:
df1[ df1.Age> 22]

    Name  Age University Specialization
0   Neil   23        BHU    Mathematics
7  Krish   23         MU   Astrophysics

In [82]:
#Extracting all the rows for which age in column are equal to 22
df1.loc[ (df1.Age== 22) ,  : ]

    Name  Age University Specialization
2  Rahul   22         DU        Physics
5  Pawan   22         MU    Mathematics
6  Karan   22        JNU  Bio-Chemistry

In [84]:
df1.loc[ (df1.Age== 22) ]

    Name  Age University Specialization
2  Rahul   22         DU        Physics
5  Pawan   22         MU    Mathematics
6  Karan   22        JNU  Bio-Chemistry

In [83]:
#Extracting all the rows for which age in column are not equal to 22
df1.loc[(df1.Age != 22), :]

        Name  Age University Specialization
0       Neil   23        BHU    Mathematics
1  Aishwarya   21        JNU        Biology
3    Shivani   21        BHU      Chemistry
4    Namrata   20        IIT    Accountancy
7      Krish   23         MU   Astrophysics

In [85]:
df1.loc[(df1.Age != 22)]

        Name  Age University Specialization
0       Neil   23        BHU    Mathematics
1  Aishwarya   21        JNU        Biology
3    Shivani   21        BHU      Chemistry
4    Namrata   20        IIT    Accountancy
7      Krish   23         MU   Astrophysics

In [86]:
#Extracting  all rows where 21< Age< 23 and University = MU
df1.loc[ ( df1.Age > 21) & ( df1.Age < 23) & ( df1.University == 'MU' ) ,  : ]

    Name  Age University Specialization
5  Pawan   22         MU    Mathematics

In [87]:
df1.loc[ ( df1.Age > 21) & ( df1.Age < 23) & ( df1.University == 'MU' )]

    Name  Age University Specialization
5  Pawan   22         MU    Mathematics

In [92]:
#Extract all rows where 22 > Age or University = 'MU'
df1.loc[(df1.Age < 22) | (df1.University == 'MU'), :]

        Name  Age University Specialization
1  Aishwarya   21        JNU        Biology
3    Shivani   21        BHU      Chemistry
4    Namrata   20        IIT    Accountancy
5      Pawan   22         MU    Mathematics
7      Krish   23         MU   Astrophysics

In [93]:
df1.loc[(df1.Age < 22) | (df1.University == 'MU')]

        Name  Age University Specialization
1  Aishwarya   21        JNU        Biology
3    Shivani   21        BHU      Chemistry
4    Namrata   20        IIT    Accountancy
5      Pawan   22         MU    Mathematics
7      Krish   23         MU   Astrophysics

In [96]:
#Extracting the all the rows where column having the values in list
df1.loc[ df1[ 'University' ].isin( ['MU', 'IIT']),:  ]

      Name  Age University Specialization
4  Namrata   20        IIT    Accountancy
5    Pawan   22         MU    Mathematics
7    Krish   23         MU   Astrophysics

In [97]:
df1.loc[ df1[ 'University' ].isin( ['MU', 'IIT'])  ]

      Name  Age University Specialization
4  Namrata   20        IIT    Accountancy
5    Pawan   22         MU    Mathematics
7    Krish   23         MU   Astrophysics

In [98]:
# Extract all rows where 21< age and University = MU and only selected columns
df1.loc[ ( df1.Age > 21 ) & ( df1.University == 'MU' ), [ 'Name', 'Specialization'] ]

    Name Specialization
5  Pawan    Mathematics
7  Krish   Astrophysics

#Merge

In [99]:
data_1 = pd.DataFrame(
       {
            "key_1": ["K0", "K0", "K1", "K2"],
            "key_2": ["K0", "K1", "K0", "K1"],
            "A": ["A0", "A1", "A2", "A3"],
            "B": ["B0", "B1", "B2", "B3"],
       }
    )
data_2 = pd.DataFrame(
       {
            "key_1": ["K0", "K1", "K1", "K2"],
            "key_2": ["K0", "K0", "K0", "K0"],
            "C": ["C0", "C1", "C2", "C3"],
            "D": ["D0", "D1", "D2", "D3"],
        }
    )

In [101]:
#Merging the two dataframesby inner join on particular columns
pd.merge( data_1,  data_2,  how = 'inner' ,  on = ['key_1',  'key_2' ] )

  key_1 key_2   A   B   C   D
0    K0    K0  A0  B0  C0  D0
1    K1    K0  A2  B2  C1  D1
2    K1    K0  A2  B2  C2  D2

#concat

In [7]:
frames = [df_england, df_italy]
both_teams = pd.concat(frames)
both_teams

        Name  Age
0       Kane   27
1   Sterling   26
2       Saka   19
3    Maguire   28
0   Immobile   31
1    Insigne   30
2  Chiellini   36
3     Chiesa   23

In [8]:
df_england.append(df_italy)

        Name  Age
0       Kane   27
1   Sterling   26
2       Saka   19
3    Maguire   28
0   Immobile   31
1    Insigne   30
2  Chiellini   36
3     Chiesa   23

In [9]:
pd.concat(frames, keys=["England", "Italy"])

                Name  Age
England 0       Kane   27
        1   Sterling   26
        2       Saka   19
        3    Maguire   28
Italy   0   Immobile   31
        1    Insigne   30
        2  Chiellini   36
        3     Chiesa   23

#Adding a new column

In [12]:
club = ['Tottenham', 'Man City', 'Arsenal', 'Man Utd']
# 'Associated Club' is our new column name
df_england['Associated Clubs'] = club
df_england

       Name  Age Associated Clubs
0      Kane   27        Tottenham
1  Sterling   26         Man City
2      Saka   19          Arsenal
3   Maguire   28          Man Utd

In [13]:
frames = [df_england, df_italy]
both_teams = pd.concat(frames)
both_teams

        Name  Age Associated Clubs
0       Kane   27        Tottenham
1   Sterling   26         Man City
2       Saka   19          Arsenal
3    Maguire   28          Man Utd
0   Immobile   31              NaN
1    Insigne   30              NaN
2  Chiellini   36              NaN
3     Chiesa   23              NaN

#Sorting based on column values

In [28]:
# setting a  column as index 
both_teams.set_index('Age' ,  inplace = True)

In [29]:
# sorting the dataframe by index
both_teams.sort_index(axis = 0,  ascending = False)

    Associated Clubs
Age
36     No Data Found
31     No Data Found
30     No Data Found
28           Man Utd
27         Tottenham
26          Man City
23     No Data Found
19           Arsenal

In [31]:
# sorting the data frame by a column
both_teams.sort_values(by = 'Age', ascending = False)

    Associated Clubs
Age
36     No Data Found
31     No Data Found
30     No Data Found
28           Man Utd
27         Tottenham
26          Man City
23     No Data Found
19           Arsenal

In [15]:
both_teams.sort_values('Name')

        Name  Age Associated Clubs
2  Chiellini   36    No Data Found
3     Chiesa   23    No Data Found
0   Immobile   31    No Data Found
1    Insigne   30    No Data Found
0       Kane   27        Tottenham
3    Maguire   28          Man Utd
2       Saka   19          Arsenal
1   Sterling   26         Man City

In [16]:
both_teams.sort_values('Age')

        Name  Age Associated Clubs
2       Saka   19          Arsenal
3     Chiesa   23    No Data Found
1   Sterling   26         Man City
0       Kane   27        Tottenham
3    Maguire   28          Man Utd
1    Insigne   30    No Data Found
0   Immobile   31    No Data Found
2  Chiellini   36    No Data Found

In [17]:
both_teams.sort_values('Age', ascending=False)

        Name  Age Associated Clubs
2  Chiellini   36    No Data Found
0   Immobile   31    No Data Found
1    Insigne   30    No Data Found
3    Maguire   28          Man Utd
0       Kane   27        Tottenham
1   Sterling   26         Man City
3     Chiesa   23    No Data Found
2       Saka   19          Arsenal

#Group By

In [18]:
a = {
    'UserID': ['U1001', 'U1002', 'U1001', 'U1001', 'U1003'],
    'Transaction': [500, 300, 200, 300, 700]
}
df_a = pd.DataFrame(a)
df_a

  UserID  Transaction
0  U1001          500
1  U1002          300
2  U1001          200
3  U1001          300
4  U1003          700

In [19]:
df_a.groupby('UserID').sum()

        Transaction
UserID
U1001          1000
U1002           300
U1003           700

In [20]:
df_a.groupby('UserID').get_group('U1001')

  UserID  Transaction
0  U1001          500
2  U1001          200
3  U1001          300

#Pivot table

In [111]:
df2 = pd.DataFrame({'A': ['John', 'Boby', 'Mina', 'Peter', 'Nicky'],
      'B': ['Masters', 'Graduate', 'Graduate', 'Masters', 'Graduate'],
      'C': [27, 23, 21, 23, 24]})

In [114]:
df2

       A         B   C
0   John   Masters  27
1   Boby  Graduate  23
2   Mina  Graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

In [113]:
table = pd.pivot_table(df2, index =['A', 'B'])

table

                 C
A     B
Boby  Graduate  23
John  Masters   27
Mina  Graduate  21
Nicky Graduate  24
Peter Masters   23

In [115]:
table1 = pd.pivot_table(df2, index =['A', 'B','C'])

table1

Empty DataFrame
Columns: []
Index: [(Boby, Graduate, 23), (John, Masters, 27), (Mina, Graduate, 21), (Nicky, Graduate, 24), (Peter, Masters, 23)]

In [116]:
table2 = pd.pivot_table(df2, index =['A'])

table2

        C
A
Boby   23
John   27
Mina   21
Nicky  24
Peter  23

#Handle Missing Values

In [118]:
import numpy as np

df = pd.DataFrame([[
    np.nan, 2, np.nan, 0], 
     [3, 4, np.nan, 1], 
     [np.nan, np.nan, np.nan, 5], 
     [np.nan, 3, np.nan, 4]], 
     columns=list("ABCD"))
print(df)

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [120]:
df.isna()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True  False
3   True  False  True  False

In [121]:
df.isna().any()

A     True
B     True
C     True
D    False
dtype: bool

In [119]:
df.isna().sum()

A    3
B    1
C    4
D    0
dtype: int64

In [122]:
df.isnull()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True  False
3   True  False  True  False

In [123]:
df.isnull().any()

A     True
B     True
C     True
D    False
dtype: bool

In [124]:
df.isnull().sum()

A    3
B    1
C    4
D    0
dtype: int64

##Fill NA

In [125]:
#Let's fill all the NA values with specific integer or zero
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

In [126]:
df.fillna(0,limit=2)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  NaN  5
3  NaN  3.0  NaN  4

In [128]:
df.fillna(method='ffill')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

In [131]:
df['A'].fillna(df['A'].mean() ,inplace=True)

df

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  NaN NaN  5
3  3.0  3.0 NaN  4

In [132]:
df.fillna(df['A'].mean() ,inplace=True)

df

     A    B    C  D
0  3.0  2.0  3.0  0
1  3.0  4.0  3.0  1
2  3.0  3.0  3.0  5
3  3.0  3.0  3.0  4

##Drop NA

In [137]:
import numpy as np

df = pd.DataFrame([[
    np.nan, 2, np.nan, 0], 
     [3, 4, 2, 1], 
     [np.nan, np.nan, np.nan, 5], 
     [np.nan, 3, np.nan, 4]], 
     columns=list("ABCD"))
print(df)

     A    B    C  D
0  NaN  2.0  NaN  0
1  3.0  4.0  2.0  1
2  NaN  NaN  NaN  5
3  NaN  3.0  NaN  4

In [138]:
df.dropna(inplace=True)

df

     A    B    C  D
1  3.0  4.0  2.0  1